.messages-container {
    height: calc(100vh - 210px);
    overflow-x: hidden;
    overflow-y: scroll;
}

.messages-container__message {
    background-color: var(--main-grey-color);
    padding: 11px;
    border-radius: 8px;
    max-width: 402px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 15px;
    word-wrap: break-word;

    &:last-child {
        margin-bottom: 30px;
    }

    &--you {
        background-color: var(--bc-white-main-color);
        margin-left: auto;
    }
}

.messages-container::-webkit-scrollbar {
    width: 3px;
}

.messages-container::-webkit-scrollbar-thumb {
    background-color: rgb(219 112 147 / 50%);
}

.messages-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.message-date {
    text-align: right;
    font-size: 9px;
    line-height: 9px;

    &--you {
        color: var(--blue-main-color);
    }
}
