.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .containerAuthPage {
        width: 340px;
        height: 450px;
        border-radius: 12px;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.14);

        .form {
            width: 280px;
            height: 60%;
            margin-left: 30px;
            margin-top: 76px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .formItemMargin_0 {
            margin-top: 0;
        }

        .buttonBlock {
            display: flex;
            flex-direction: column;
            align-items: center;

            .button {
                font-family: Inter;
                font-size: 13px;
                font-weight: 500;
                line-height: 13px;
                letter-spacing: 0em;
                text-align: center;
                color: rgba(255, 255, 255, 1);
                border: none;
                border-radius: 8px;
                width: 100%;
                background-color: rgba(51, 105, 243, 1);
                padding: 12px 70px;
            }

            .registerLink {
                margin-top: 14px;
                text-decoration: none;
                color: rgba(51, 105, 243, 1);
                font-family: Inter;
                font-size: 11px;
                font-weight: 500;
                line-height: 11px;
                letter-spacing: 0em;
                text-align: left;                
            }
        }
    }
}