.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .containerRegPage {
        width: 340px;
        height: 615px;
        border-radius: 12px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 14%);

        .form {
            width: 280px;
            height: 70%;
            margin-left: 30px;
            margin-top: 76px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .formItemMargin_0 {
            margin-top: 0;
        }

        .buttonBlock {
            display: flex;
            flex-direction: column;
            align-items: center;

            .button {
                font-family: Inter, sans-serif;
                font-size: 13px;
                font-weight: 500;
                line-height: 13px;
                letter-spacing: 0;
                text-align: center;
                color: var(--white-main-color);
                border: none;
                border-radius: 8px;
                width: 100%;
                background-color: var(--blue-main-color);
                padding: 12px 70px;
            }

            .authLink {
                margin-top: 14px;
                text-decoration: none;
                color: var(--blue-main-color);
                font-family: Inter,sans-serif;
                font-size: 11px;
                font-weight: 500;
                line-height: 11px;
                letter-spacing: 0;
                text-align: left;                
            }
        }
    }
}
