.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .contentError {
        display: flex;
        flex-direction: column;
        align-items: center;


        .codeError {
            font-family: Inter, sans-serif;
            font-size: 40px;
            font-weight: 500;
            line-height: 40px;
            letter-spacing: 0;
            text-align: center;
            color: var(--black-color);
        }
    
        .titleError {
            font-family: Inter, sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0;
            text-align: center;
            color: var(--black-color);
            margin-top: 20px;
        }

        .linkDecoration {
            margin-top: 69px;
        }
    }
}
