.containerProfileValue {
    width: 510px;
    display: flex;
    justify-content: space-between;

    span {
        font-family: Inter, sans-serif;
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
        letter-spacing: 0;

    }

    .titleProfile {
        color: var(--black-color);      
    }

    .inputChangeProfile {
        border: none;
        text-align: right;
        color: var(--main-grey-color);
    }

    .inputChangeProfile:focus {
        outline: none;
    }
}

.lineClass {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
