.link {
    margin-top: 14px;
    text-decoration: none;
    color: var(--blue-main-color);
    font-family: Inter, sans-serif;
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 0;
    text-align: left;                
}
